* {
	margin: 0;
	padding: 0;
}
header{
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000080;
}

h1 {
	text-align: center;
	color: #ff7fbf;
	font-weight: bold;
	font-size: 50px;
	text-shadow: 2px 2px white;
	font-family: cursive;
}

form {
	width: 100%;
	height: 50px;
	display: flex;
	margin-top: 40px;
	margin-left: 20px;
}

input {
	width: 80%;
	color: #fff;
	font-size: 15px;
	text-indent: 18px;
	background-color: #7fbfff;
	border-radius: 25px;
}

.shootingstar{
	margin-left: 8px;
	color: pink;
}

.container{
	padding:; 15px;
}

h2 {
	margin: 15px 0;
	padding-left: 3%;
	color: #777;
}

ul {
	list-style: none;
}

.list li {
	font-size: 14px;
	color: #444;
	line-height: 22px;
	background-color: #a8d3ff;
	border-radius: 5px;
	padding: 20px 100px 20px 20px;
	height: 20px;
	width: 70%;
}

.list li .buttons {
	width: 100px;
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
}

.list li .buttons button {
	width: 50px;
	height: 50px;
	position: relative;
	border: none;
	cursor: pointer;
}

.list .remove {
	color: red;
}